{% extends "base.html" %}

{% block js_globals %}
{
    current_user: "{{ current_user }}",
}
{% end %}

{% block content %}
    {% if next_url != "/" and next_url != "/logout" %}
        <div class="alert alert-danger" role="alert">
            Du musst dich einloggen um nach <code>{{ next_url }}</code> zu gelangen.
        </div>
    {% end %}
    <form action="/login" method="post">
        <div class="form-group">
            <label for="username">Name</label>
            <input type="text" class="form-control" id="username" name="username" value="{% if current_user %}{{ current_user }}{% end %}">
        </div>
        <div class="form-group">
            <label for="password">Passwort</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <input type="hidden" name="next_url" value="{{ next_url }}">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% end %}
