<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Raspi Doorbell</title>
    <script type="text/javascript">
        const template_context = {
            bell_log: [{% for entry in bell_log %}
                "{{entry.strip()}}",
            {% end %}],
            do_not_disturb_mode_is_on: {{"true" if do_not_disturb_mode_is_on else "false"}},
            pid_file_exists: {{"true" if pid_file_exists else "false"}},
            websocket_url: "{{websocket_url}}",
        }
    </script>
    <link rel="stylesheet" href="/static/vendor/rc-slider.css">
    <link rel="stylesheet" href="/static/bootstrap-button.css">
</head>
<body>

<div class="mount-point"></div>

<script src="/static/dist/status.js"></script>
</body>
</html>
