{% extends "base.html" %}

{% block js_globals %}
{
    message_types: { {% for key, value in message_types.items() %}
        {{key}}: "{{value}}",
    {% end %} },
    bell_log: [{% for entry in bell_log %}
        "{{entry.strip()}}",
    {% end %}],
    do_not_disturb_mode_is_on: {{"true" if do_not_disturb_mode_is_on else "false"}},
    websocket_url: "{{websocket_url}}",
}
{% end %}

{% block header_includes %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/{{ page_name }}.css">
    <link rel="stylesheet" href="/static/vendor/rc-slider.css">
{% end %}
